<app-navbar></app-navbar>

<header class="masthead1 text-white text-center" id="home">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Events</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Events that suit all, providing you with the full social experience</h2>
      </div>
    </div>
  </div>
</header>

<!-- Events List Section -->
<section class="container mt-5 mb-5" *ngIf="allEvents">
  <h2 class="mb-4">Events List</h2>

  <!-- Table -->
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Destination</th>
        <th>Start Date</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody *ngFor="let event of allEvents">
      <tr *ngIf="event.status=='open'">
        <td>{{ event.name }}</td>
        <td>{{ event.destination }}</td>
        <td>{{ event.startDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ event.cost }}$</td>
        <td>
          <a class="btn btn-primary" routerLink="eventdetails/{{event.id}}" >Details..</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<app-footer></app-footer>


